<script>
    // Default videos available on all pages
    const defaultVideos = {
        video0: { id: "1095226090", padding: "80.28%" },
        video1: { id: "1056853912", padding: "63.28%" },
        video2: { id: "1052267805", padding: "56.25%" },
        video3: { id: "847106055", padding: "100%" },
    };
    
    // Initialize videos
    let videos = { ...defaultVideos };
    
    // Function to add page-specific videos
    function addVideos(newVideos) {
        videos = { ...videos, ...newVideos };
    }
</script>