<div id="lightbox" class="lightbox" onclick="closeLightbox(event)">
    <div class="lightbox-content">
        <div class="lightbox-close" onclick="closeLightbox()">
            &times;
        </div>
        <div id="lightbox-video" class="lightbox-video"></div>
        <div id="lightbox-video-title" class="lightbox-video-title"></div>
    </div>
</div>
